@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");


*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing: border-box;

}

:root{

    --fuentePrincipal: 'Baloo da 2', 'sans-serif';
    --anchomaximo:1100px;
}

img{
    width:100%;
    height: auto;
    display: block;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

/* Incio Header */

/* Fin Header */

/* Incio de Main */
 body {

    margin-top: 100px;

 }
.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right:300px;
    margin-top:20px;
    padding: 2px;
    justify-content: space-around;
    /* justify-content: center; */
    /* justify-content: space-between; */
}

.prioridad option{
    font-family: var(--fuentePrincipal);

}

.pintarTarea{
    display: flex;
    flex-wrap: wrap;
    border: 2px, solid black;
    margin-left: 300px;
    margin-right:300px;
    margin-top:20px;
    padding: 2px;
 
}

.red{
    background-color: tomato;
}

.green{
    background-color:palegreen;
}

.blue{
    background-color:aqua;
}

.yellow{
    background-color:goldenrod;
}

.containerBuscar {

    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right:300px;
    margin-top:20px;
    padding: 2px;
    justify-content: space-around;

}
.btn btn-light {
    color : greenyellow;
}

input{
    border: 5px solid palegreen;
}
form {
    border: 5px solid palegreen;
}
.contenedor{
    width: ;


}


/* Fin Main */


/* Inicio Footer */

footer{
    background-color:palegreen;
    padding: 1.250em 0.625em;
    position:fixed;
    bottom:0;
    width: 100%;  
}

footer p, footer a {
    color:#fff;

}
footer a:hover{
    text-decoration: none;

}

/* Fin Footer */


